<div class="container-fluid" *ngIf="chat$ | async as chat">
  <div class="chat-container">
    <div class="message mindmatch-font" *ngFor="let msg of chat.messages; trackBy: trackByCreated">
      <div *ngIf="msg.uid === loggedInUser" class="current-user-message">
        <div class="user mindmatch-title">
          <p>{{msg.nickname}}</p>
        </div>
        <p>{{ msg.content }}</p>
      </div>
      <div *ngIf="msg.uid !== loggedInUser" class="other-user-message">
        <div class="user mindmatch-title">
          <p>{{msg.nickname}}</p>
        </div>
        <p>{{ msg.content }}</p>
      </div>
    </div>
  </div>
  <div class="chat-submit">
    <mat-form-field>
      <mat-label>Send message...</mat-label>
      <textarea matInput
      ></textarea>
    </mat-form-field>

    <button class="submit-button" mat-raised-button color="accent" (click)="submit(chat.id)">Send</button>
  </div>
</div>
