@import '../../../variable';

.container-fluid {
  display: flex;
  height: 100%;
  justify-content: center;

  .chat-submit {
    flex-flow: row;
    display: flex;
    padding: 10%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;

    * {
      margin: 1%;
    }
    .submit-button{
      padding:5px;
    }
    mat-form-field {
      textarea {
        resize: none;
      }
    }
  }

  .chat-container {
    background-color: whitesmoke;
    border-radius: 25px;
    width: 80%;
    height: 60%;
    overflow: auto;
    .message {
      display: flex;
      flex-flow: column;
      color: mat-contrast($ReMINDers-primary, 300);

      .other-user-message {
        align-self: flex-start;
        background-image: linear-gradient(to bottom, white, mat-color($ReMINDers-accent, 200));
        border-radius: 15px;
        width:min-content;
        margin: 1%;
      }

      > *.current-user-message {
        align-self: flex-end;
        background-image: linear-gradient(to bottom, white, mat-color($ReMINDers-accent, 200));
        border-radius: 15px;
        width:min-content;
        margin: 1%;
      }
    }
  }
}

.mindmatch-title {
  font-weight: 700;
  font-size: small;
}


