@import '../../../_variable.scss';

.container-fluid {
  display: flex;
  height: 100%;
  padding: 5%;
  justify-content: center;
  .chat-submit {
    padding: 10%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;

    * {
      margin: 1%;
    }

    mat-form-field {
      textarea {
        resize: none;
        width: 110%;
      }
    }
  }

  .chat-container {
    width: 50%;
    color: mat-contrast($ReMINDers-primary, 300);

    .message {
      display: flex;
      flex-flow: column;

      .other-user-message {
        align-self: flex-start;
      }

      > *.current-user-message {
        align-self: flex-end;
      }
    }
  }
}
