<div class="container-fluid">
  <div class="contact-input-field mindmatch-font">
    <p class="mindmatch-title">Let's get you back to MindMatching</p>
    <mat-form-field color="accent">
      <mat-label>Insert your account email</mat-label>
      <input [(ngModel)]="email" matInput type="text" id="email" required>
    </mat-form-field>
    <button mat-raised-button color="primary" class="submit-button" (click)="resetPasword()">Submit</button>
    <div *ngIf="errorMessage">
      <p class="warning">{{errorMessage}}</p>
    </div>
  </div>
  <input class="issatrap" type="text" id="trappy" >
</div>
