@import '../../../_variable.scss';

mat-sidenav-container {
  height: 100%;
  position: absolute;
}


mat-toolbar {
  display: flex;
  position: fixed;
  height: 7vh;
  * {
    margin: 1%;
  }
}

mat-sidenav {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding:1%;

  .nav-item{
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  .submit-button{
    align-self: center;
    top:45%;
  }
}

mat-sidenav {
  background-color: whitesmoke;
}

.navbarMessage {
}

a:link, a:visited {
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
}

a:hover, a:active {
  background-color: grey;
}

.mat-icon {
  color: black;
}

@media only screen and (max-width: 767px) {

}

@media only screen and (min-width: 768px) and (max-width: 1439px) {

}

@media only screen and (min-width: 1440px) and (max-width: 2158px) {

}

@media only screen and (min-width: 2159px) and (max-width: 3838px) {

}

@media only screen and (min-width: 3839px) {

}
