  <mat-sidenav-container *ngIf="isLoggedIn">
    <mat-toolbar class="navbar-static-top">
      <button class="submit-button" (click)="sideNav.toggle()" mat-fab>
        <mat-icon class="">menu</mat-icon>
      </button>
      <p class="mindmatch-title ">MindMatch</p>
    </mat-toolbar>
    <mat-sidenav #sideNav mode="side">
      <p class="mindmatch-font navbar-message mb-3">Let's find your MindMatch!</p>
      <div class="nav-item mindmatch-font mr-2" *ngFor="let option of sideNavOptions">
        <a href="{{option.path}}">
          <mat-icon aria-hidden="false">{{option.img}}</mat-icon>
          {{option.name}}
        </a>

      </div>
      <button routerLink="/login" mat-flat-button color="warn" class="submit-button" (click)="signUserOut()">
        <mat-icon>close</mat-icon>
        Sign out
      </button>
    </mat-sidenav>
  </mat-sidenav-container>
<!-- main content container -->
