<app-spinner *ngIf="!spinnerDissapears"></app-spinner>
<form *ngIf="spinnerDissapears" [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="container-fluid">
  <div class="content">
    <mat-card class="picture">
      <mat-card-subtitle>
        <img id="profileImg"
          [src]="profileImgUrl != '' && profileImgUrl !==undefined ? profileImgUrl : '../../../assets/img/default.png'"
          class="avatar">
      </mat-card-subtitle>
      <mat-card-content>
        Hello, {{this.profileForm.value.nickname}}
      </mat-card-content>
      <input (change) ="onFileChanged($event)" type="file" accept="image/*">
    </mat-card>
  </div>

  <div class="personalinfo content pt-4">
    <mat-tab-group mat-stretch-tabs class="p-lg-5">
      <mat-tab label="Personal info">
        <div class="personalinfoint">
          <mat-form-field class="mt-3">
            <mat-label>Gender</mat-label>
            <input matInput id="gender" name="gender" formControlName="gender" type="text">
          </mat-form-field>
          <mat-form-field class="mt-3">
            <mat-label>Home</mat-label>
            <input matInput id="home" name="home" formControlName="home" type="text">
          </mat-form-field>
          <mat-form-field class="mt-3">
            <mat-label>Sexual Pref</mat-label>
            <input matInput id="sexualPref" name="sexualPref" formControlName="sexualPref" type="text">
          </mat-form-field>
          <button mat-mini-fab class="mt-5" [color]="getColorEdit()" (click)="saveProfileData()" type="submit">
                <span class="material-icons">
                  edit
                </span>
          </button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="mindmatches content">
    <mat-tab-group mat-stretch-tabs class="p-lg-5">
      <mat-tab class="mindmatches" label="MindMatches">
        <div class="example-large-box">
          <mat-card *ngFor="let user of matchedUsers" class=" match-card m-4">
            <mat-card-header class="card-header">
              <mat-card-title>{{user.nickname}}</mat-card-title>
              <mat-card-subtitle>{{user.home}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="mindmatch-font">
              {{user.bio}}
            </mat-card-content>
            <mat-card-actions>
              <button class="submit-button" mat-raised-button (click)="initializeChat(user.uid)">
                Chat
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <button routerLink="/login" mat-raised-button color="accent" (click)="signUserOut()"> Sign out</button>
</form>

