<div class="container mt-2">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="row">

      <div class="col">
        <div class="row picture">Picture</div>
        <div class="row description">
          Yoga
          Skiing
          Golf
          Biking
          Hiking
          Running
        </div>
      </div>

      <div class="col">
        <div class="row name">
          <mat-form-field>
            <input matInput id="nickname" name="nickname" formControlName="nickname" type="text">
          </mat-form-field>
          <button mat-mini-fab [color]="getColorEdit()" (click)="saveProfileData()" type="submit">
            <span class="material-icons">
            edit
            </span>
          </button>
        </div>

        <div class="row infos">
          <mat-tab-group>

            <mat-tab label="Matches">
              <div class="example-large-box">
                <mat-card *ngFor="let user of matchedUsers" class=" match-card m-4">
                  <mat-card-header class="card-header">
                    <mat-card-title>{{user.nickname}}</mat-card-title>
                    <mat-card-subtitle>{{user.home}}</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content class="mindmatch-font">
                    {{user.bio}}
                  </mat-card-content>
                </mat-card>
              </div>
            </mat-tab>

            <mat-tab label="Infos">
              <div>
                <div>
                  <mat-form-field>
                    <mat-label>Gender</mat-label>
                    <input matInput id="gender" name="gender" formControlName="gender" type="text">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Home</mat-label>
                    <input matInput id="home" name="home" formControlName="home" type="text">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Sexual Pref</mat-label>
                    <input matInput id="sexualPref" name="sexualPref" formControlName="sexualPref" type="text">
                  </mat-form-field>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </form>

</div>
