@import '../../../variable';

.container-fluid {
  display: flex;
  flex-direction: row;
  text-align: center;
  height: 100%;
  background-color: whitesmoke;
}

mat-card{
  img{
    object-fit: cover;
  }
}

.mindmatches {
  p{
    opacity: 0.7;
  }
}

.content {
  flex: 30% !important;
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.mat-tab-label {
  font-weight: 700;
}


.mat-form-field {
  width: 100%;
}

.personal-info {
  height: 90%;
  background-image: linear-gradient(to bottom, white, mat-color($ReMINDers-primary, 100));
  opacity: 0.7;
  border-radius: 10px;
}

.mat-card-header {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom, white, mat-color($ReMINDers-primary, 100));
  border-radius: 25px;
}

.mat-card-content {
  background-image: linear-gradient(to bottom, white, mat-color($ReMINDers-primary, 100));
}

.avatar {
  height: auto;
  width: 100%;
  min-height: 60%;
  max-width: 70%;
  max-height: 70%;
}

.hover-class:hover {
  background-color: grey !important;
}

.picture {
  height: auto;
  background-image: linear-gradient(to bottom, white, whitesmoke);
}

.matcard-avatar {
  background-image: linear-gradient(to bottom, white, mat-color($ReMINDers-primary, 100));
  font-weight: 700;
}

@media only screen and (max-width: 767px) {
  .container-fluid {
    flex-flow: column;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .container-fluid {
    flex-flow: column;
  }

  mat-card {
    .submit-button {
      width: 75px;
      height: 75px;

      i {
        display: block;
        font-size: 50px;
      }
    }
  }

  .personal-info-int {
    .submit-button {
      width: 75px;
      height: 75px;

      i {
        display: block;
        font-size: 50px;
      }
    }
  }

}
