<form [formGroup]="loginForm" (submit)="onSubmit()" class="container-fluid">


  <div class="contact-input-field">
    <mat-form-field color="accent">
      <mat-label>Email</mat-label>
      <input matInput type="text" id="email" name="email" formControlName="email">
    </mat-form-field>
    <div *ngIf="!controls.email?.valid ">
      <div *ngIf="submitted && controls.email.errors.required">
        <p class="warning">Please provide you email</p>
      </div>
      <div *ngIf="submitted && controls.email.errors.pattern">
        <p class="warning">We both know that's not an email</p>o
      </div>
    </div>

  </div>

  <div class="contact-input-field">
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" id="password" name="password" formControlName="password">
    </mat-form-field>

    <div *ngIf="!controls.password?.valid">
      <div *ngIf="submitted && controls.password.errors.required">
        <p class="warning">Please do provide a password</p>
      </div>
    </div>
    <div *ngIf="errorMessage">
      <p class="warning">{{errorMessage}}</p>
    </div>
  </div>

  <input class="issatrap" type="text" id="trappy" name="trappy" formControlName="trappy">
  <button mat-raised-button type="submit" class="submit-button">Log in</button>
</form>

<app-popup *ngIf="registeredSuccesfully" [popupMessage]="'You have been registered succesfully, so login and start MindMatching!'"></app-popup>
