<div *ngIf="showWelcome" class="welcome-container">
  <mat-label class="mindmatch-title">Let's get acquainted!</mat-label>
  <button mat-raised-button (click)="showWelcome=false;showNickname=true;" class="submit-button">Sounds good!
  </button>
</div>

<form [formGroup]="registerForm" class="container-fluid">
  <div [@slider]="animationState" class="contact-input-field mindmatch-title" *ngIf="showNickname">
    <mat-form-field *ngIf="showNickname">
      <mat-label>What's your nickname?</mat-label>
      <input matInput type="text" id="nickname" name="nickname" formControlName="nickname">
    </mat-form-field>
    <button mat-raised-button [disabled]="!controls.nickname?.valid" class="submit-button"
            (click)="resetAnimation('next');showHome=true;showNickname=false"
            mat-button>Next
    </button>
  </div>
  <div [@slider]="animationState" class="contact-input-field mindmatch-title" *ngIf="showHome">
    <mat-form-field>
      <mat-label>Where are you from?</mat-label>
      <input matInput type="text" id="home" name="home" formControlName="home">
    </mat-form-field>
    <div class="actions-container">
      <button mat-raised-button [disabled]="!controls.home?.valid" class="submit-button"
              (click)="resetAnimation('next');showGender=true;showHome=false"
              mat-button>Next
      </button>
      <button mat-raised-button class="submit-button" (click)="resetAnimation('prev');showHome=false;showNickname=true"
              mat-button>Prev
      </button>
    </div>
  </div>


  <div [@slider]="animationState" class="contact-input-field mindmatch-title" *ngIf="showGender">
    <mat-label>You are a..</mat-label>
    <mat-radio-group class="radio-container" formControlName="gender">
      <mat-radio-button [value]="gender" *ngFor="let gender of genderOptions">
        {{gender}}
      </mat-radio-button>
    </mat-radio-group>
    <div class="actions-container">
      <button mat-raised-button [disabled]="!controls.gender?.valid" class="submit-button"
              (click)="resetAnimation('next');showGender=false;showSexualPref=true"
              mat-button>Next
      </button>
      <button mat-raised-button class="submit-button" (click)="resetAnimation('prev');showGender=false;showHome=true"
              mat-button>Prev
      </button>
    </div>
  </div>


  <div [@slider]="animationState" class="contact-input-field mindmatch-title" *ngIf="showSexualPref">
    <mat-label>You are interested in..</mat-label>
    <mat-radio-group class="radio-container" formControlName="sexualPref">
      <mat-radio-button [value]="genderOptions[idx]" *ngFor="let pref of sexualPrefOptions;index as idx">
        {{pref}}
      </mat-radio-button>
    </mat-radio-group>
    <div class="actions-container">
      <button mat-raised-button [disabled]="!controls.sexualPref?.valid" class="submit-button"
              (click)="resetAnimation('next');showAnswers=true; showSexualPref=false" mat-button>Next
      </button>
      <button mat-raised-button class="submit-button"
              (click)="resetAnimation('prev');showSexualPref=false;showGender=true" mat-button>Prev
      </button>
    </div>
  </div>

  <div [@slider]="animationState" class="contact-input-field mindmatch-title" *ngIf="showAnswers">
    <p class="mindmatch-title">Give us a taste of your tastes</p>
    <div class="questionaire">
      <p class="mindmatch-font">Question1</p>
      <mat-radio-group class="radio-container" formControlName="question1">
        <mat-radio-button [value]="option" *ngFor="let option of question1Options">
          {{option}}
        </mat-radio-button>
      </mat-radio-group>
      <p class="mindmatch-font">Question1
      <p>
        <mat-radio-group class="radio-container" formControlName="question2">
          <mat-radio-button [value]="option" *ngFor="let option of question1Options">
            {{option}}
          </mat-radio-button>
        </mat-radio-group>
      <p class="mindmatch-font">Question1
      <p>
        <mat-radio-group class="radio-container" formControlName="question3">
          <mat-radio-button [value]="option" *ngFor="let option of question1Options">
            {{option}}
          </mat-radio-button>
        </mat-radio-group>
      <p class="mindmatch-font">Question1
      <p>
        <mat-radio-group class="radio-container" formControlName="question4">
          <mat-radio-button [value]="option" *ngFor="let option of question1Options">
            {{option}}
          </mat-radio-button>
        </mat-radio-group>
    </div>
    <button [disabled]="!controls.question1?.valid
     || !controls.question2?.valid
      || !controls.question3?.valid
       || !controls.question4?.valid"
            class="submit-button"
            (click)="showAnswers=false;showUserPass=true;"
            *ngIf="showAnswers" mat-raised-button>Next
    </button>
  </div>

  <div [@slider]="animationState" [formGroup]="userPassForm" class="user-pass-form mindmatch-title" *ngIf="showUserPass">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="text" id="email" name="email" formControlName="email">
    </mat-form-field>
    <div *ngIf="submitted && !userPassControls.email?.valid">
      <div *ngIf="userPassControls.email.errors.required">
        <p class="warning">Please provide your email</p>
      </div>
      <div *ngIf="userPassControls.email.errors.pattern">
        <p class="warning">We both know that's not an email</p>
      </div>
    </div>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" id="password" name="password" formControlName="password">
    </mat-form-field>
    <div *ngIf="submitted && !userPassControls.password?.valid">
      <div *ngIf="userPassControls.password.errors.required">
        <p class="warning">Please do provide a password</p>
      </div>
      <div *ngIf="userPassControls.password.errors.minLength">
        <p class="warning">Password needs to be at least 8 characters long</p>
      </div>
    </div>

    <div *ngIf="errorMessage">
      <p class="warning">{{errorMessage}}</p>
    </div>

    <button mat-raised-button (click)="onSubmit()" class="submit-button">
      Start MindMatching!
    </button>
  </div>

</form>

