<div *ngIf="showWelcome" class="welcome-container">
  <mat-label  class="mindmatch-title">Before you join us, we have to get acquainted!</mat-label>
  <button mat-raised-button (click)="showWelcome=false;showNickname=true;" class="submit-button"> Let's get this show on the road!</button>
</div>

<form [formGroup]="registerForm" (submit)="onSubmit()" class="container-fluid">
  <div [@slider] class="contact-input-field" *ngIf="showNickname">
    <mat-form-field *ngIf="showNickname">
      <mat-label>What's your nickname?</mat-label>
      <input matInput type="text" id="nickname" name="nickname" formControlName="nickname">
    </mat-form-field>
    <button (click)="showHome=true;showNickname=false" mat-button>Next</button>
    <div *ngIf="!controls.email?.valid && (controls.email?.dirty || controls.email?.touched)">
      <div *ngIf="submitted && controls.email.errors.required">
        <p class="alert-danger">I might need your contact mail</p>
      </div>
      <div *ngIf="submitted && controls.email.errors.pattern">
        <p class="alert-danger">We both know that's not a mail</p>o
      </div>
    </div>
  </div>

  <div [@slider] class="contact-input-field" *ngIf="showHome">
    <mat-form-field [@slider] class="">
      <mat-label>Where are you from?</mat-label>
      <input matInput type="text" id="home" name="home" formControlName="home">
    </mat-form-field>
    <button (click)="showGender=true;showHome=false" mat-button>Next</button>
    <button (click)="showHome=false;showNickname=true" mat-button>Prev</button>

    <div *ngIf="!controls.password?.valid && (controls.password?.dirty || controls.password?.touched)">
      <div *ngIf="submitted && controls.password.errors.required">
        <p class="alert-danger">Please do provide a password</p>
      </div>
    </div>
  </div>


  <div [@slider] class="contact-input-field" *ngIf="showGender">
    <mat-label>You are a..</mat-label>
    <mat-radio-group class="radio-container" formControlName="gender">
      <mat-radio-button [value]="gender" *ngFor="let gender of genderOptions">
        {{gender}}
      </mat-radio-button>
    </mat-radio-group>
    <button (click)="showGender=false;showSexualPref=true" mat-button>Next</button>
    <button (click)="showGender=false;showHome=true" mat-button>Prev</button>
  </div>


  <div [@slider] class="contact-input-field" *ngIf="showSexualPref">
    <mat-label>You are interested in..</mat-label>
    <mat-radio-group class="radio-container" formControlName="sexualPref">
      <mat-radio-button [value]="pref" *ngFor="let pref of sexualPrefOptions">
        {{pref}}
      </mat-radio-button>
    </mat-radio-group>
    <button mat-button>Next</button>
    <button (click)="showSexualPref=false;showGender=true" mat-button>Prev</button>
  </div>

</form>
<!--<div formArrayName="names">-->
<!--  <div *ngFor="let name of names.controls; index as idx">-->
<!--    <input [formControlName]="idx" placeholder="Enter a Name">-->
<!--    <label *ngIf="name.invalid" [ngClass] = "'error'"> Name is required. </label>-->
<!--  </div>-->
<!--</div>-->
