.container{
  height: 100vh;
  width: 100%;
}

.center {
  height: 100vh;
  width: 100vw;
}

.picture {
  height: 50vh;
  width: 20vw;
  border: 3px solid black;
}

.description {
  height: 50vh;
  width: 20vw;
  border: 3px solid black;
}

.name {
  height: 20vh;
  width: 50vw;
  border: 3px solid black;
}

.infos {
  height: 80vh;
  width: 50vw;
  border: 3px solid black;
}

