@import '~@angular/material/theming';

@include mat-core();

$mindmatch-primary: (
  100:#ffb098,
  200:#d3806a,
  contrast:(
    300: #8C4A3A
  )
);

$ReMINDers-primary: mat-palette($mindmatch-primary, 100);
$ReMINDers-accent: mat-palette($mat-yellow, 300, 100, 50);

$ReMINDers-warn: mat-palette($mat-red);

$ReMINDers-theme: mat-light-theme((
  color: (
    primary: $ReMINDers-primary,
    accent: $ReMINDers-accent,
    warn: $ReMINDers-warn,
  )
));
@include angular-material-theme($ReMINDers-theme);

