@import '~bootstrap';
@import 'mindmatch-theme.scss';

html, body {
  height: 100%;
}
body {
  margin: 0;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: white;
}

.warning{
  color:mat-color($ReMINDers-warn);
  font-family: Arial;
}


.mindmatch-font {
  font-family: Roboto;
  color:white;
  letter-spacing: 0.5px;
}

.mindmatch-title {
  font-family: Roboto;
  letter-spacing: 1px;
  color:black;
}

.submit-button {
  margin-top: 2%;
  width: min-content;
}

@media only screen and (max-width: 767px) {
  .mindmatch-font {
    font-size: 17px;
  }
   .warning {
    font-size: 14px;
  }
  .icon {
    font-size: 30px;
  }
  .mindmatch-title {
    font-size: 22px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .mindmatch-font {
    font-size: 24px;
  }
  .icon {
    font-size: 45px;
  }
  .mindmatch-title {
    font-size: 26px;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 2158px) {

  .icon {
    font-size: 45px;
  }
  .mindmatch-title {
    font-size: 22px;
  }
}

@media only screen and (min-width: 2159px) and (max-width: 3838px) {
  .mindmatch-font {
    font-size: 25px; //xx-large
  }
  .warning {
    font-size: 30px; //xx-large
  }
  .icon {
    font-size: 75px;
  }
  .mindmatch-title {
    font-size: 45px;
  }
}

@media only screen and (min-width: 3839px) {
  .mindmatch-font {
    font-size: 54px; //gargantuan
  }
  .warning {
    font-size: 46px; //gargantuan
  }
  .icon {
    font-size: 110px;
  }
  .mindmatch-title {
    font-size: 75px;
  }
}
